.news {
    border-left: 10px solid var(--light-blue);
    transition: all .3s;
  
    &-single {
      cursor: pointer;
  
      & img {
        width: 100%;
      }
  
      &--big {
        transition: all .3s;
      }
  
      &--big:hover {
        cursor: pointer;
        transform: scale(.97);
      }
    }
  }
  
.custom-carousel .carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  text-shadow: none;
}
.custom-carousel-control {
  cursor: pointer;
}

.carousel{
  transition: all .3s;
  cursor: pointer;
  height: 425px;
}

.carousel:hover {
  transform: scale(.97);
}
.carousel-item img {
  height: 425px;
  width: 1024px;
  object-fit: cover;
}

#carousel-2 .carousel-item img{
  height: 250px;
}

.footer-news {
  cursor: pointer;
}