footer {
    background-color: var(--gray-dark);
  
    &::before{
      content: "";
      display: block;
      height: 20px;
      margin-top: 20px;
      width: 100%;
      background-color: #3e3668;
    }
  
    & h4 {
      color: white;
      margin: 0;
    }
    & p {
      margin: 0;
      color: #666;
    }
  }
  
  .social-items-box {
      padding: 0 15px;
  }
  .social-item {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &--rss {
      background-color: #f8bc2e;
    }
    &--fb {
      background-color: #39599f;
    }
    &--twitter {
      background-color: #45b0e3;
    }
    &--dribble {
      background-color: #d97aa5;
    }
    &--linkedin {
      background-color: #65b7d2;
    }
    &--youtube {
      background-color: #e70031;
    }
    &--skype {
      background-color: #00c6ff;
    }
    &:not(:last-child){
      margin-right: 5px;
    }
  }
  
  .tag {
    margin: 3px;
    padding: 6px 8px;
    color: #666;
    background-color: #333;
    cursor: pointer;
    transition: all .3s;
  
    &:hover {
      color: white;
      background-color: #3e3668;
    }
  }
  
  .footer-news {
    font-size: 12px;
  }